<h5>Add new Car</h5>
<% @car.errors.full_messages.each do |msg| %>
    <%= msg %>
<% end %>
  <%= form_for @car do |f| %>
    <%= f.label :manufacturer_id, 'Manufacturer' %>
    <%= f.collection_select(:manufacturer_id, Manufacturer.all, :id, :name) %>

    <%= f.label :color, 'Color' %>
    <%= f.text_field :color %>

    <%= f.label :year %>
    <%= f.select :year, (1920..2015),include_blank: true %>

    <%= f.label :mileage, 'Mileage' %>
    <%= f.text_field :mileage %>

    <%= f.label :description, 'Description' %>
    <%= f.text_area :description %>

    <%= f.submit "Add car" %>
  <% end %>
<a href = "/cars">See all cars</a>
