<h5>Add new Manufacturer</h5>
<% @manufacturer.errors.full_messages.each do |msg| %>
    <%= msg %>
<% end %>
  <%= form_for @manufacturer do |f| %>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>

    <%= f.label :country, 'Country' %>
    <%= f.text_field :country %>

    <%= f.submit "Create manufacturer" %>
  <% end %>
<a href = "/manufacturers">See all</a>
